<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron center">
        <h1>SmartBaseCamp Project Management</h1>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row" id="row">
        <div class="col-md-4 ml-5">
          <h2>What you get</h2>
          <p>
            <ul>
                <li>Unlimited Projects</li>
                <li>Track your Projects</li>
                <li>Unlimited Uploads</li>
                <li>Threads and Messages</li>
                <li>Add Users to Project</li>
            </ul>
          
          </p>
          <p><a class="btn btn-primary" href="#" role="button">Sign up</a></p>
        </div>
    </div>