<!-- Main jumbotron for a primary marketing message or call to action -->

<% if !notice.nil? %>
  <div id="notice" class="alert alert-info mt-4 alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="fa fa-exclamation-triangle"></i> 
    <strong>Errors</strong>
    <%= notice %>
  </div>
<% end %>

    <div class="jumbotron center">
        <h1>SmartBaseCamp Project Management</h1>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row" id="row">
        <div class="col-md-4 ml-5">
          <h2>What you get</h2>
          <p>
            <ul>
                <li>Unlimited Projects</li>
                <li>Track your Projects</li>
                <li>Unlimited Uploads</li>
                <li>Threads and Messages</li>
                <li>Add Users to Project</li>
            </ul>
          
          </p>
          <p><%= link_to 'Sign up', signup_path, class:"btn btn-primary" %></p>
        </div>
    </div>