<h1>Edit Thread</h1>

<%= render 'form', app_thread: [@user,@project,@app_thread] %>

<%= link_to user_project_url(@user, @project), class: "btn btn-sm btn-secondary mt-3", 'data-toggle'=>"tooltip", 'data-placement'=>"top", title:"Back to project list" do %>
    <i class="fa fa-arrow-left"></i>
<% end %>
